{% extends "geonode_base.html" %}

{% load i18n %}
{% block title %} {% trans "About Us" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "About Us" %}</h2>
</div>
<p class="lead">{% trans "About Us" %}.</p>
<p>　　灿烂辉煌的人类文明、浩如烟海的古今文献以及广袤无垠的陆地海洋，存在着海量的与人类活动息息相关的地理信息。就单个人物来说，包括人物的籍贯、行迹、社会关系的地理分布；就群体来说，包括一个群体的地理分布和迁徙轨迹；就非生命的物体来说，也有其存在、分布和变化的地理区域；就一个地方来说，则又包含了既往时间里人、事、物等地理信息的总汇。</p>
 <p>　　由浙江大学与哈佛大学共建的学术地图发布平台愿为广大用户提供地理信息研究成果的发布、可视化分析及多功能查询服务，平台所形成的大数据，可以为未来科学研究、政府决策及社会服务提供重要的参考。</p>
<p style="text-align: right">浙江大学大数据与中国学术地图创新团队</p>
<p style="text-align: right">哈佛大学地理分析中心</p>
<p style="text-align: right">2017年12月18日</p>
<br>
<div class="page-header" id="copyright">
  <h2>{% trans "Copyright Notice" %}</h2>
</div>
<p class="lead">{% trans "Copyright Notice" %}.</p>
<p>　　“学术地图发布平台”的版权归“浙江大学大数据与中国学术地图创新团队”和“哈佛大学地理分析中心”共同所有。学者上传的地理信息数据与呈现的地图，版权归发布者和平台方共同所有。</p>
<br>
<div class="page-header" id="disclaimer">
  <h2>{% trans "Disclaimer" %}</h2>
</div>
<p class="lead">{% trans "Disclaimer" %}.</p>
<p>　　发布者发布的数据和信息（包括文字、图片、影音文件），必须符合国家的法律法规和学术规范，反因发布的内容而引起的法律责任，由发布者自付。</p>
<p>　　发布者发布的数据和信息，务必自己备份，本网站不承担因黑客攻击或病毒侵入造成的发布者数据损失的责任。</p>
<p>　　本网站及其雇员一概毋须以任何方式就任何信息传递或传送的失误、不准确或错误对用户或任何其他人士负任何直接或间接的责任。</p>
<p>　　本网站所提供的信息，若在任何司法管辖地区供任何人士使用或分发给任何人士时会违反该司法管辖地区的法律或条例的规定或会导致本网站或其第三方代理人受限于该司法管辖地区内的任何监管规定时，则该等信息不宜在该司法管辖地区供该等任何人士使用或分发给该等任何人士。用户须自行保证不会受限于任何限制或禁止用户使用或分发本网站所提供信息的当地的规定。</p>
 <p>　　本网站图片，文字之类版权申明，因为网站可以由注册用户自行上传图片或文字，本网站无法鉴别所上传图片或文字的知识版权，如果侵犯，请及时通知我们，本网站将在第一时间及时删除。</p>
<p>　　任何由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营的不可抗力而造成的损失，本网站均得免责（不可抗力因素不需要网站负责）。因和本网站链接的其它网站所造成的个人资料泄露及由此而导致的任何法律争议和后果，本网站均得免责（需要改为“和本网站链接的其它网站所造成的个人资料泄露及由此而导致的任何法律争议和后果，本网站与链接网站依据实际情况承担一定责任”）。</p>
<p>　　凡以任何方式登陆本网站或直接、间接使用本网站资料者，视为自愿接受本网站声明的约束。</p>
{% endblock %}
